*{
    min-width: 5rem;
}

body{
    margin: 0;
    width: 100%;
}

header{
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 1440px;
    height: 90px;
}
button{
    background-color: #2932E3;
    color: white;
}

button:hover{
    background-color: grey;
}
#information{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#information a {
    text-decoration: none;
    color: black;
}

#information a:hover{
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 20%;
}

#local{
    background-color: #2932E3;
    border-radius: 20%;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    background-color: #B8DDFF;
    justify-content: center;
    align-items: center;
    height: 50rem;
    gap: 2rem;
}

article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5%;
    width: 65%;
    height: auto;
    background: white;
    padding: 1rem;
    margin-bottom: 2rem;
    background-size: cover;
}

.annonces{
    background: white;
    height: 100%;
    width: 30%;
}

article section img{
    width: 15rem;
    min-height: 10vh;
    object-fit: cover;
}

.button{
    background-color: #2932E3;
    text-align: center;
    text-decoration: none;
    border: none;
    color: white;
    display: inline-block; 
    /* Mettre un lien sous forme de block et non sous forme de texte*/
    font-size: 1rem;
    margin: 4px 2px;
    border-radius: 2px;

}

.button:hover{
    background-color: rgb(135, 134, 134);
}


footer{

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: white;
        min-height: 6rem;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
}

#fin{
    display: flex;
    flex-wrap: wrap;
    text-align: center; 
    gap: 20px;
}

#fin a{
    text-decoration: none;
    color: black;
}

#fin a:hover{
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 20%;
}


#trait{
    border-bottom: 1px solid ;
    border-bottom-color: black;
    width: 60%
}

#legalite{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
   justify-content: space-around;
    width: 100%;
}
#information_légales{
    justify-content: space-around;
}
#information_légales a{
    text-decoration: none;
    color: black;
}

#information_légales a:hover{
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 20%;
}


input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#date_resa{
    color: blue;
    border: 2px;
    border-color:#2932E3;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

#informations_supplementaires{
    color: blue;
    background-color:purple;
    border: 2px;
    border-color:#2932E3;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}